{% load i18n %}
{% load thumbnail %}
{% load templatetags %}
{% get_current_language as LANGUAGE_CODE %}
<section class="notifications">
    <div class="container">
        <div class="filter-bar container-fluid">
            <h2 class="pull-left">{% trans "All notification templates" %}</h2>
        </div>
        <div class="notification-list container-fluid">
            <ul class="list-group">
                <li class="list-group-item sort-bar">
                    <div class='pull-left empty-holder col-1 order-by-link'></div>
                        <a class="col-2 btn order-by-link" href="?order_by={% if order_by == 'name' %}-name{% else %}name{% endif %}">
                            {% trans 'Name' %} <span class='glyphicon glyphicon-sort' aria-hidden="true"></span>
                        </a>
                        <div class='col-3 order-by-link'></div>
                        <div class='col-4 order-by-link'></div>
                        <div class='col-5 order-by-link'></div>
                </li>
                <div
                data-paginate="true"
                data-paginator-id="{{ random_id_str }}"
                data-paginator-per-page="10"
                {% if notifications|length > 6 %}style="min-height: 690px;"{% endif %}>
                {% for notification in notifications %}
                    <li class="list-group-item" data-paginator-item="true">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-2">
                                    <a href="{% url 'respa_admin:ra-notifications-edit' notification_id=notification.pk %}">
                                        <h4>{{ notification.get_type_display }}: {{ notification.name }}</h4>
                                    </a>
                                </div>
                                <div class="col-3"></div>
                                <div class="col-4">
                                    <h6>
                                        <span class='glyphicon glyphicon-pencil icon-left' aria-hidden="true"></span>
                                        <a href="{% url 'respa_admin:ra-notifications-edit' notification_id=notification.pk %}">{% trans 'Edit' %}</a>
                                    </h6>
                                </div>
                                <div class="col-4">
                                    <form action="{% url 'respa_admin:ra-notifications-remove' notification_id=notification.pk %}" method="post">
                                        {% csrf_token %}
                                        <button class="btn btn-link btn-link-dark" name="notification" value="{{ notification.pk }}">
                                            <span class='glyphicon glyphicon-remove icon-left' aria-hidden="true"></span>
                                            <h6>
                                                {% trans 'Remove' %}
                                            </h6>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                {% empty %}
                    <div class="col-wrap-container fluid row-wrap justify-center">
                        <span class="help-text">{% trans 'No notification templates found' %}</span>
                    </div>
                {% endfor %}
                <div
                id="paginator-page-container"
                data-paginator-id="{{ random_id_str }}">
            </div>
            </ul>
        </div>
    </div>
</section>
