{% extends "respa_admin/_base.html" %}
{% load static %}
{% load i18n %}

{% block koro_shape %}
<div id="popup-notification" class="popup-notification success">
    <span id="popup-message" class="text-center"></span>
</div>
{% if notification_redirect_context %}
<div class="panel panel-default noti {{ notification_redirect_context.type }} closable-notification">
    <h4 class="center-block">{{ notification_redirect_context.message }}</h4>
    <button class="remove-click pull-right" type="button">
        {% trans 'Close' %} <span class="glyphicon glyphicon-remove icon-right" aria-hidden="true"></span>
    </button>
</div>
{% endif %}
<section class="hero-section bg-light {{ KORO_STYLE }}">
    <div class="container">
        <div class="headline">
            <div class="listing-report row">
                <h1 class="col-sm-6">{% trans 'Notification templates' %}</h1>
            </div>
            <div class="col-wrap-container">
                <a class="btn resource-control" href="{% url 'respa_admin:ra-notifications-create' %}">
                    <span class="glyphicon glyphicon-plus-sign icon-left" aria-hidden="true"></span>
                    {% trans 'Add a new notification template' %}<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
                <div class="col-container">
                    <form 
                        id="notification-templates-uploader-form" 
                        method="post" 
                        action="{% url 'respa_admin:ra-notifications-import' %}" 
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <label class="btn resource-control" for="template-upload">
                            <span class="glyphicon glyphicon-import icon-left" aria-hidden="true"></span>
                            {% trans 'Import notification templates' %}
                            <input id="template-upload" type="file" name="notification_templates" onchange="this.form.submit();" style="display: none;"  webkitdirectory directory multiple/>
                        </label>
                    </form>
                </div>
                <a class="btn resource-control" href="#" disabled>
                    <span class="glyphicon glyphicon-plus-sign icon-left" aria-hidden="true"></span>
                    {% trans 'Add a new notification template group' %}<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </div>
            <form action="." method="get">
                <div class="form-group listing-search center-block">
                    <div class="input-group">
                        <span class="input-group-addon">{% trans 'Search' %}</span>
                        <input autofocus type="text" class="form-control text-input" name="search" value="{{ request.GET.search }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock koro_shape %}

{% block body %}
    {% include "respa_admin/notifications/_list_notification_templates.html" with notifications=notifications %}
{% endblock body %}


{% block js_extra %}
<script type="text/javascript" src="{% static 'respa_admin/notificationsForm-bundle.js' %}"></script>
{% endblock js_extra %}